[Desktop Entry]
Encoding=UTF-8
Name=Link to Historical Monthly and Derived Temperature Products - 771m CRU TS - Datasets - SNAP Data Portal
Type=Link
URL=http://ckan.snap.uaf.edu/dataset/historical-monthly-and-derived-temperature-products-771m-cru-ts
Icon=text-html
